PORT=5000
DATABASE_URL=postgresql://USER:PASSWORD@HOST:PORT/DATABASE
KAFKA_BROKER=broker-host:9092
KAFKA_USERNAME=username
KAFKA_PASSWORD=password
KAFKA_TOPIC=inventory-events
KAFKA_SSL_REJECT_UNAUTHORIZED=false

